* {
  box-sizing: border-box;
}

:root {
  color-scheme: dark;
  color: #F2EBFB;
  background-color: #201f22;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Palui';
  src: url('./assets/fonts/PaluiSPDemo-Bold.otf');
}

@font-face {
  font-family: 'Hasking';
  src: url('./assets/fonts/hasking/Hasklig-Medium.ttf');
}

a {
  color:#2196f3;
}

.checkbox {
  font-family: 'Hasking';
  cursor: pointer;
  display: flex;
  align-items: end;
  gap: 0.5em;
  text-align: left;
}
.checkbox input {
  display: none;
}
.checkbox svg {
  overflow: visible;
  margin-top: 0.2em;
}
.checkbox span {
  font-size: .8em;
}
.path {
  fill: none;
  stroke: #9667E0;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
  stroke-dasharray: 241 9999999;
  stroke-dashoffset: 0;
}
.checkbox input:checked ~ svg .path {
  stroke-dasharray: 70.5096664428711 9999999;
  stroke-dashoffset: -262.2723388671875;
}

.masonry-grid {
  display: flex;
  margin-left: -1em;
  width: auto;
  margin-top: 2em;
}

.masonry-grid_column {
  padding-left: 1em;
  background-clip: padding-box;
}

.masonry-grid_column > div {
  margin-bottom: 1em;
}